div.forumbuttons {
    margin: 1em 0 1em 0;
}

button {
    height: 40px;
    background-color: black;
    color: white;
    font-size: 100%;
    text-transform: uppercase;
    border: 1px solid DarkGrey;
}

button:hover {
    background-color: hsl(0, 0%, 15%);
    border: 1px solid black;
}
    

table {
    width: 100%;
    background-color: DarkGrey;
}

thead {
    width: 100%;
    background-color: black;
    color: white;
    text-align: left;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: lighter;
}

th {
    font-weight: inherit
}

th.titles {
    width: 90%;
}

th.replies, td.replies {
    text-align: center;
}

td {
    box-sizing: border-box;
}

tr.odd {
    background-color: hsl(0, 0%, 75%);
}

tr.even {
    background-color: hsl(0, 0%, 60%);
}
